<!-- carousel start -->
<div class="mt-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/Image-1-4.jpg " class="d-block w-100" alt="img">
            </div>
            <div class="carousel-item">
                <img src="assets/images/Home_1-scaled.jpg" class="d-block w-100" alt="img1">
                <div class="carousel-caption  d-md-block">
                    <h1 class="text-center fw-bold fs-1">Welcome to Onnes</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/Home_2.jpg" class="d-block w-100" alt="img2">
                <div class="carousel-caption  d-md-block">
                    <h1 class="text-center fw-bold fs-1">CryoCoolers for Night Vision</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/Image-6.jpg" class="d-block w-100" alt="img3">
                <div class="carousel-caption  d-md-block">
                    <h1 class="text-center fw-bold fs-1">Cryogenics for Navigation</h1>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>