<div class="contact">
    <div class="container mx-auto  py-5">
        <div class="row mx-lg-5 my-lg-5 ">
            <div class="col-md-3 py-lg-5 py-4">
                <h1 class="fw-bold">LETS TALK</h1>
                <hr>
                <span class="fw-bold">Onnes Cryogenics Private Limited</span>
                <p> 91 Springboard, LVS Arcade, Plot No 71, Jubilee Enclave, Hitech City, Hyderabad – 500081</p>
                <div class="social">
                    <a href="https://www.linkedin.com/company/onnes-cryogenics/" class="text-decoration-none" target="_blank"><i class="fa-brands fa-linkedin-in fs-6"></i></a>
                    <a href="https://www.instagram.com/onnes.cryogenics/" class="text-decoration-none" target="_blank"><i class="fa-brands fa-instagram fs-6"></i></a>
                    <a href="https://www.facebook.com/onnescryogenics" class="text-decoration-none" target="_blank"><i class="fa-brands fa-facebook-f fs-6"></i></a>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FOCryogenics" class="text-decoration-none" target="_blank"><i class="fa-brands fa-twitter fs-6"></i></a>
                </div>
            </div>
            <div class="col-md-9">
                <form class="ms-lg-5 col col-md-10">
                    <div class="mb-3">
                        <label for="exampleInputfullName" class="form-label fw-bold">Full Name</label>
                        <input type="text" class="form-control bg-transparent shadow-none" id="exampleInputfullName" placeholder="Full Name">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label fw-bold">Email </label>
                      <input type="email" class="form-control bg-transparent shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                    </div>
                    <div class=" mb-3">
                        <label for="floatingTextarea2" class="fw-bold">Comments</label>
                        <textarea class="form-control bg-transparent shadow-none" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                      </div>
                    <button type="submit" class="btn form-control text-white">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>