<div class="technology">
    <div class="container mx-auto py-5">
        <h1 class="fw-bold">OFFERING</h1>
        <hr>
        <div class="row px-lg-5">
            <div class="col-lg-3 mt-lg-5 pt-lg-5">
                <h1 class="py-4">TECHNOLOGY</h1>
                <i class="fa-solid fa-rocket fa-5x px-5"></i>
            </div>
            <div class="col-lg-9">
                <p class="fs-5 mx-lg-5">A cryocooler is a mechanical refrigerator designed to cool an application down to cryogenics
                    temperatures. A sort of working man’s definition of cryogenic temperatures is temperatures below
                    around 123 K, which equals -150°C or -238°F. In this temperature range and below, a number of
                    physical phenomena begin to change rapidly from room temperature behaviors, and new phenomena
                    achieve greatly increased importance. Thus, the field of cryogenics temperatures typically involves
                    a whole set of new temperature-specific discipline skills, operational constraints, and testing
                    methodologies. One of these special attributes of cryogenics is the science and engineering of
                    achieving cryogenic temperatures, in our case the development of cryogenic refrigerators—called
                    cryocoolers. Applications of cryocoolers can extend from a hospital Magnetic Resonance Imaging (MRI)
                    machine, to a long-wave instrument on a space telescope, to a night-vision scope on a military
                    battlefield.</p>
            </div>
        </div>
    </div>
</div>